</br>
<div id="footer" style="text-align: center;">
    <p><a style='text-decoration:none;' href="https://github.com/DefinityTeam/blog">Source Code on GitHub</a></p>
    <p><a style='text-decoration:none;' href="/licenses" rel="jslicense" data-jslicense="1">Licenses</a></p>
</div>
</br>