<form method="post" action="/admin/edit">
    <textarea><%- post.title %></textarea><br>
    <textarea><%- post.tagline %></textarea><br>
    <textarea style="white-space: pre-wrap;">
        <%- post.body %>
    </textarea><br>
    <input type="submit" value="Submit">
</form> 