<table id="jslicense-labels1" style="margin-left: auto;margin-right: auto;">
    <tr>
        <th>Script</th>
        <th>License Identifier</th>
        <th>Source</th>
    </tr>
    <tr>
        <td><a href="/js/script.js">script.js</a></td>
        <td><a href="https://www.gnu.org/licenses/javascript-labels.html">labels</a></td>
        <td><a href="https://github.com/DefinityTeam">script v0.0.0</a></td>
    </tr>
</table>